.contain{
    min-height: 100vh;
    background-color: #f7ecde;
}

 .contain h1 {
    font-size: 50px;
    font-family: "Pacifico", cursive;
    color: #352e28;
    isolation: isolate;
    text-align: center;
    position: relative;
  }
  
  .contain h1::before {
    content: "";
    position: absolute;
    width: 30%;
    height: 25%;
    left: 0;
    bottom: 20px;
    background-color: #fec260;
    transition: height 350ms;
    z-index: -1;
    transform: translateX(115%);
  }
 .contain h1:hover::before {
    height: 50%;
  }
  .contain h2 {

    background-image: linear-gradient(to right, #3ca55c, #b5ac49);
    width: 75%;
  }